@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  padding: 12px 32px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

.swiper-pagination-bullet-active-main {
  width: 20px;
  border-radius: 15px;
  background-color: orange;
}
* {
  font-family: 'Montserrat', sans-serif;
  @apply text-sm md:text-base;
}

.swiper-button-next {
  @apply text-primary-orange font-bold bg-dark-black bg-opacity-40 backdrop-blur-sm hover:bg-opacity-25 transition-all pl-2 scale-[.60] md:scale-75 p-1 rounded-full justify-center size-16 flex items-center;
}
.swiper-button-prev {
  @apply text-primary-orange font-bold bg-dark-black bg-opacity-40 backdrop-blur-sm hover:bg-opacity-25 transition-all pr-2 scale-[.60] md:scale-75 p-1 rounded-full justify-center size-16 flex items-center;
}

.scroll-to-top {
  display: grid;
  place-content: center;
  @apply bg-primary-orange hover:brightness-110 rounded-2xl !important
}

.popup-content {
  padding: 0;
  border-radius: 1.6rem;
  max-width: 95vw;
  max-height: 90vh;
  width: auto;
  height: auto;
  overflow: auto;
  @apply md:w-[900px];
}
